{% extends "__layout.twig" %}

{% block content %}
    <h1>Поиск</h1>
    <form action="" class="row g-4">
        <div class="col-sm-3">
        Тип
        <br>
        
        <select class="form-control" name="type">
            <option value="все">Все</option>
            {% for type in types %}
            <option value="{{ type.name }}" {% if selected_type == type.name %}selected{% endif %}>{{ type.name|title }}</option>  
            {% endfor %}
            
        </select>
        </div>
        <div class="col-sm-3">
            Название
        <br>
            <input type="text" class="form-control" name="title" value="{{ title }}">
        </div>
        <div class="col-sm-3">
            Описание
        <br>
            <input type="text" class="form-control" name="description" value="{{ description }}">
        </div>
        <div class="col">
            <br><button class="btn btn-primary" type="submit">Найти</button>
        </div>
       
    </form>
    <div class="col-sm-10" style="margin-top:1%;">
    <ul class="list-group" >
    {% for object in objects %}
        
        <li class = "list-group-item w-100">
        <a href="/vasteras-area/{{object.id}}"> {{object.title}}</a>
        </li>
        
    {% endfor %}
    </ul>    
    </div>
{% endblock %}